<nav class="navbar navbar-expand-lg " style="background-color: #ecffd5;">
    <div class="container-fluid">
        <img src="../../../assets/hoja.png" alt="" width="30" height="24">
        <a class="navbar-brand" href="/home">A la carta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="nav-link active" (click)="logOut()">Salir</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
