.menu{
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.beefMenu{
    margin: 10% 5%;
    display: flex;
    flex-direction: column;
}

.gridMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 3% 0%;
    gap: 5%;
}
