body {
    background-image: url('../../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.introText{
    font-size:larger;
}

.loginContainer {
    background-color: rgba(245, 245, 245, 0.425);
    margin: 10%;
    padding: 5%;
    text-align: center;
    border-radius: 5px;
}

.form-floating input,
label {
    text-align: left;
}

input {
    background-color: ghostwhite;
}

.form-control:focus {
    border-color:rgba(209, 255, 84, 0.532);
    box-shadow: 1px 1px 4px rgba(209, 255, 84, 0.532);;
}

img {
    width: 50%;
    margin-bottom: 10%;
}

.btn-dark {
    margin-top: 5%;
    padding: 2%;
    color: #C9E265;
}

.errorMsg {
    color: #8D0000;
    margin-top: 2%;
    font-weight: 500;
}

@media screen and (max-width: 820px){
    body{
        grid-template-columns: 1fr;
    }

    .loginContainer{
        align-content: center;
        margin: 2%;
    }
}

