body{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.container{
    margin: 10%;
    height: fit-content;
    width: 50%;
    background-color: white;
    text-align: center;
}

.bodyContainer{
    margin: 4%;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:2%;
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.infoText{
    color: #50b551;
}

.cookTime, .healthScore, .price{
    color: black;
}

.btn-dark {
    padding: 2%;
    color: #C9E265;
}

.sectionButtons{
    margin: 5%;
    justify-content: center;
    display: flex;
    text-align: center;
    gap: 5%;
}
header{
    background-color: #f4fff3;
    opacity: 0.3;
    background-image: linear-gradient(to right, #50b551, #50b551 6px, #f4fff3 6px, #f4fff3 );
    background-size: 12px 100%;
}

h4{
    padding: 2%;
    color: transparent;
}

.vegan{
    display: none;
}

.image{
    padding: 3% 0%;
    justify-content: center;
}

@media screen and (max-width: 820px){
    .container{
        width: 100%;
    }

    .bodyContainer{
        grid-template-columns: 1fr;
    }
}
